<app-navbar></app-navbar>

<div class="container main-container">
  <div class="row">
    <div class="col-md-4">
      <div *ngIf="!marcadorSel" class="animated fadeIn fast">
        <div class="alert alert-info" role="alert">
          <strong>Haga Click</strong><br>
          En el mapa para crear un marcador
          <br>
          O
          <br>
          <strong>Haga Click</strong><br>
          En un marcador para editarlo
        </div><!--.alert-->
      </div>

      <div *ngIf="marcadorSel" class="animated fadeIn fast">
        <h5>Marcador</h5>
        <hr>
        <div class="form-group">
          <label>Título</label>
          <input [(ngModel)]="marcadorSel.titulo"
                  type="text"
                  class="form-control"
                  name="titulo">
        </div><!--.form-group-->

        <div class="form-group">
          <label>Descripción</label>
          <textarea [(ngModel)]="marcadorSel.desc"
                     type="text"
                     name="desc"
                     class="form-control"
                     rows="5">
          </textarea>
        </div><!--.form-group-->

        <div class="form-group">
          <label>¿Se puede arrastrar?</label>
          <select [(ngModel)]="draggable"
                     name="draggable"
                     class="form-control"
                     (change)="cambiarDraggable()">
                     <option value="1">SI</option>
                     <option value="0">NO</option>
          </select>
        </div><!--.form-group-->

        <button  (click)="_ms.guardarMarcadores()"
                 type="button" class="btn btn-outline-primary btn-block">
          Guardar Cambios
        </button>
      </div>

    </div>
    <div class="col-md-8">
      <!-- this creates a google map on the page with the given lat/lng from -->
      <!-- the component as the initial center of the map: -->
      <agm-map [latitude]="lat"
               [longitude]="lng"
               [zoom]="zoom"
               (mapClick)="clickMapa( $event )">
        <agm-marker *ngFor="let marcador of _ms.marcadores; let i = index"
             [latitude]="marcador.lat"
             [longitude]="marcador.lng"
             [title]="marcador.titulo"
             [markerDraggable]="marcador.draggable"
             (markerClick)="clickMarcador( marcador , i)"
             (dragEnd)="dragEndMarcador( marcador, $event )">
             <agm-info-window>
               <strong>{{ marcador.titulo }}</strong>
               <p *ngIf="marcador.desc">
                 {{ marcador.desc }}
               </p>
               <p>
                 <a (click)="_ms.borrarMarcador(i); marcadorSel=null;"
                     class="text-danger">Borrar marcador</a>
               </p>
             </agm-info-window>
        </agm-marker>
      </agm-map>
    </div><!--.col-md-8-->
  </div>
</div>
